body {
  font-family: "Story Script", sans-serif;
  font-style: normal;
  margin: 0 !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #833ab4;
  background: linear-gradient(
    67deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

article {
  height: 740px;
  width: 500px;
  border-radius: 35px;
  box-shadow: 0 0 5em 1.5em rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  background: linear-gradient(#ffffff4f, #ffffff2c);
  backdrop-filter: blur(3vw);
  border: 3px solid rgb(133, 9, 9);
}

#wyswietlacz {
  width: 100%;
  height: 12.5%;
  margin: 5% 5.5% 0 5.5%;
  backdrop-filter: blur(30px);
  border: 4px solid #e93b3b;
  border-radius: 13px;
  text-align: right;
  font-size: 400%;
  padding-top: 4%;
  padding-right: 5px;
}

.przycisk {
  border-radius: 50%;
  background: linear-gradient(#d982ec1e, #d367e12b);
  backdrop-filter: blur(30px);
  width: 100px;
  height: 65px;
  float: left;
  margin: 7px;
  font-size: 30px;
  text-align: center;
  padding-top: 35px;
  z-index: 1;
}

#przyciski {
  width: 460px;
  margin-top: 160px;
  height: 500px;
  position: absolute;
}

.przycisk:hover {
  transform: scale(0.95);
  font-size: 185%;
}

.przycisk--spec {
  background: linear-gradient(#ef171700, #e3111100);
}

.przycisk--op {
  background: linear-gradient(#d513138b, #ce23236f);
}

@media (max-height: 750px) {
  article {
    zoom: 0.6;
  }
}
@media (max-height: 470px) {
  article {
    zoom: 0.4;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #ff00ff;
    background: linear-gradient(
      50deg,
      rgba(255, 0, 255, 1) 17%,
      rgba(126, 18, 184, 1) 60%,
      rgba(122, 13, 255, 1) 100%
    );
  }

  article {
    box-shadow: 0 0 5em 1.5em rgba(0, 0, 0, 0.8);
    border: 3px solid rgb(42, 57, 169);
  }

  #wyswietlacz {
    border: 4px solid rgba(11, 3, 153, 0.537);
  }

  .przycisk {
    background: linear-gradient(
      rgba(221, 17, 173, 0.521),
      rgba(169, 15, 153, 0.711)
    );
  }
  .przycisk--spec {
    background: linear-gradient(#6c23bfa3, #2f52d1bd);
  }

  .przycisk--op {
    background: linear-gradient(
      rgba(255, 0, 55, 0.516),
      rgba(255, 0, 111, 0.384)
    );
  }
}



