body {
    font-family: "Story Script", sans-serif;
    font-style: normal;
    margin: 0 !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #833AB4;
    background: linear-gradient(67deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

article {
    height: 740px;
    width: 550px;
    border-radius: 30px;
    box-shadow: 0px 0px 80px 23px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 0px 0px 80px 23px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 80px 23px rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    background: linear-gradient(#ffffff4f, #ffffff2c);
    backdrop-filter: blur(30px);
}

#wyswietlacz {
    width: 100%;
    height: 100px;
    margin: 5% 8% 0 8%;
    backdrop-filter: blur(30px);
    border: 4px solid #e93b3b;
    border-radius: 13px;
    text-align: right;
    font-size: 65px;
    padding-top: 20px;
    padding-right: 5px;
}

.przycisk {
    border-radius: 50%;
    background: linear-gradient(#d982ec1e, #d367e12b);
    backdrop-filter: blur(30px);
    width: 100px;
    height: 65px;
    float: left;
    margin: 7px;
    font-size: 30px;
    text-align: center;
    padding-top: 35px;
    z-index: 1;
}

#przyciski {
    width: 460px;
    margin-top: 160px;
    height: 500px;
    position: absolute;
}
.przycisk:hover{
    transform: scale(0.95);
    font-size: 185%;
}


